services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - '8000:8000'
    volumes:
      - ./backend:/app
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - '5173:5173'
    environment:
      # VITE_API_URL используется в браузере, поэтому указываем адрес бекенда с точки зрения хоста
      - VITE_API_URL=http://localhost:8000/api/v1
    volumes:
      - ./frontend:/app
    depends_on:
      - backend
